<div class="navbar navbar-expand-sm navbar-dark bg-dark navbar-lewagon">
    <%= link_to root_path, class: "navbar-brand" do %>
      <h3 id='title-navbar'>WatchList</h3>
    <% end %>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
      <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <%= image_tag "popcorn.png", class: "logo-navbar dropdown-toggle", id: "navbarDarkDropdownMenuLink", data: { 'bs-toggle' => "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
              <%= link_to "Create a new list", "#", class: "dropdown-item" %>
              <%= link_to "My lists", "#", class: "dropdown-item" %>
            </div>
          </li>
      </ul>
    </div>
</div>
